<div class="container-fluid d-flex justify-content-center align-items-center mb-5 mt-5">
  <div class="container col-xl-8">
    <div class="row justify-content-center">
      <div class="col-md-12 footer text-center">
      <h5>ABOUT BEHIND THE SCENES PT</h5>
      <p>Run by Courtney Prestage a NZIHF Registered Personal Trainer.</p>
    </div>
    </div>
  </div>
</div>

<!-- Copyright -->

<div class="container-fluid d-flex justify-content-center align-items-center" id="copyright-section">
<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-12 footer text-center">
      <h5>Copyright &copy; BEHINDTHESCENES PT 2018</h5>
      </div>
    </div>
  </div>
</div>
